mixin event-soon-card(date, name, type)
    +b.b-event-soon-card
        +e.date
            p= date
        +e.name
            +e.A(href="#").link= name
        +e.type
            p= type
            
mixin event-soon-card-to-all()
    +b.b-event-soon-card--to-all
        +e.A(href="#").link--to-all
            +e.I.icon--to-all
            span Смотреть календарь #[br]мероприятий