+b.c-our-partners--row.row
    +e.container.container
        +e.title.block-title
            p Партнеры центра
        
        +e.list-wrpr
            +e.UL.list
                +our-partners('logo-1.png')
                +our-partners('logo-2.png')
                +our-partners('logo-3.png')
                +our-partners('logo-4.png')
                +our-partners('logo-5.png')

