@import 'variables';

/*!
 * СТИЛИ ТИПОГРАФИКИ
 */

/*!
 * Общие стили для всех заголовков
 */
/* stylelint-disable-next-line */
@mixin header() {
  font-family: $font-raleway;
  margin-left: 75px;
  margin-right: 75px;
  padding-bottom: 15px;
}

/*!
 * Стили для заголовков 1 уровня
 */
/* stylelint-disable-next-line */
@mixin h1() {
}

/*!
 * Стили для заголовков 2 уровня
 */
/* stylelint-disable-next-line */
@mixin h2() {
  font-size: 18px;
  font-weight: bold;
  padding-top: 0;
}

/*!
 * Стили для заголовков 3 уровня
 */
/* stylelint-disable-next-line */
@mixin h3() {
  font-size: 14px;
  padding-bottom: 30px;
}

/*!
 * Стили для заголовков 4 уровня
 */
/* stylelint-disable-next-line */
@mixin h4() {
}

/*!
 * Стили для заголовков 5 уровня
 */
/* stylelint-disable-next-line */
@mixin h5() {
}

/*!
 * Стили для заголовков 6 уровня
 */
/* stylelint-disable-next-line */
@mixin h6() {
}

/*!
 * Стили для абзацев
 */
/* stylelint-disable-next-line */
@mixin p() {
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-left: 75px;
  margin-right: 75px;
  padding-bottom: 30px;
}

/*!
 * Стили для ссылок
 */
/* stylelint-disable-next-line */
@mixin a() {
  color: $color-orange;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*!
 * Стили для жирного текста
 */
/* stylelint-disable-next-line */
@mixin b() {
  font-weight: bold;
}

/*!
 * Стили для курсивного текста
 */
/* stylelint-disable-next-line */
@mixin i() {
}

/*!
 * Стили для цитат
 */
/* stylelint-disable-next-line */
@mixin blockquote() {
  margin-left: -70px;
  margin-right: 0;
  max-width: 670px;
  padding-bottom: 30px;

  :only-child {
    border-left: 6px solid $color-orange;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
  }
}

body {
  color: #333;
  font-size: 14px;
}

.tdn {
  text-decoration: none;
}

.c-inherit {
  color: inherit;
}

.semi-bold {
  font-weight: 600;
}

ul {
  list-style-position: inside;

  //li {}
}

.block-title {
  font-size: 1.42em;
  font-weight: 600;

  &--large {
    font-size: 2em;
  }
}
