$color-orange: #ffa24f;
$color-green: #04c0c0;
$color-violet: #9b51e0;
$color-red: #eb5757;
$color-grey: #bdbdbd;
$color-grey-dark: #333;
$color-grey-3: #a0a0a0;
$color-grey-4: #f2f2f2;
$color-grey-5: #e0e0e0;
$color-grey-6: #bdbdbd;
//$assets-path: '../../images/';
//
//
//
//
