$color-orange: #FFA24F;
$color-green: #04C0C0;
$color-violet: #9B51E0;
$color-purple: #9B51E0;
$color-red: #eb5757;
$color-blue: #2D9CDB;
$color-grey: #BDBDBD;
$color-grey-dark: #333333;
$color-grey-3: #A0A0A0;
$color-grey-4: #F2F2F2;
$color-grey-5: #E0E0E0;
$color-grey-6: #BDBDBD;
$assets_path: '../../assets/img/';
//
//
//
//
