+b.c-event-reg--row
    +e.container.container--970.p-x0
        +e.title.title-block
            p Регистрация на мероприятие
        +e.desc
            p Чтобы зарегистрироваться на это событие, заполните анкету. #[br]Информация о Вас будет доступна только организаторам. 
        +e.btn-wrpr
            +e.A(href="#").btn.btn--orange Зарегистрироваться
            