+b.c-single-event-res--row.row
    +e.container.container  
        +e.title.block-title--large
            p 
                b Результат обучения
        +e.UL.checks
            +single_event_result('Сертификат международного образца ICF, программа находится на аккредитации ICF.')
            +single_event_result('Ускорение работы над любыми задачами')
            +single_event_result('25 коучинговых инструментов')
            +single_event_result('Импульс для успешной карьеры и повышения своей ценности на рынке')
            +single_event_result('7 способов выявления ценностей')
            +single_event_result('Стремительный рост эффективности')
            +single_event_result('6 способов работы с возражениями')
            +single_event_result('Личностный рост')
            +single_event_result('Инновационные практики работы с людьми')
            +single_event_result('Программа построена на 11 компетенциях коуча ICF и направлена на развитие всех компетенций')
            +single_event_result('Механизмы развития сотрудников и себя как личности и профессионала')
            