+b.b-search-bar
    +e.FORM.form
        +e.INPUT(type="text", placeholder="Я ищу").input
        +e.A(href="#").select-part
        
        +b.b-search-bar-select-search
            //+e.popup-close
            +e.A.close-btn
            +e.cnt
                +e.UL.list
                    +e.LI.list-item
                        +e.A(href="#").list-link информацию о компании 
                    +e.LI.list-item
                        +e.A(href="#").list-link Услуги для компаний
                    +e.LI.list-item
                        +e.A(href="#").list-link индивидуальный коучинг
                    +e.LI.list-item
                        +e.A(href="#").list-link Обучение 
                    +e.LI.list-item
                        +e.A(href="#").list-link информацию для коучей


            