+b.c-advantages--row.row
    +e.container.container
        +e.title.block-title
            p Преимущества центра
        +e.wrpr
            +e.UL.list
                +advantage-item('7 лет на рынке ')
                +advantage-item('Мировые стандарты обучения, подтвержденные аккредитацией Международной Федерацией коучинга ICF')
                +advantage-item('Каждый ведущий программы уникален, признан профессиональным и коучинговым сообществом (ACC ICF, PCC ICF)')
                +advantage-item('Выпускники центра получают сертификат международного образца, признанный во всем мире ')
                +advantage-item('Выпускаем профессиональных коучей и обучаем коучинговым компетенциям руководителей ')
                +advantage-item('Индивидуальный подход к студентам центра')
                +advantage-item('Готовим коучей к международной сертификации в в Международной Федерации Коучинга  ICF')
                +advantage-item('Передовые технологии и знания')
            

