+b.c-subscribe.row--subscribe.bg-green
    +e.container.container
        +e.title.block-title
            span Подпишитесь!
        +e.desc.block-desc
            p Мы будем присылать вам полезные новости и приглашать на мероприятия

        +e.form-wrpr
            +b.FORM.c-subscribe-form
                +e.input-wrpr--email-input-wrpr
                    +e.INPUT(type='text', placeholder='username@mail.ru').input--email-input.ui-text--large
                    
                +e.input-wrpr--submit-wrpr
                    +e.INPUT(type='submit', value='Подписаться').input--submit-input.btn--white-trans.btn--large.btn--full-width
                