+b.c-event-price--row.row
    +e.container.container.container--970  
        +e.title.block-title
            h3 Стоимость обучения
        +e.desc.block-desc
            p Программа "Профессиональный коучинг" — это международные стандарты качества и #[br]уникальные инновационные инструменты.
        +e.price-items
            +event_price('Базовый пакет', '<p>Инструменты коучинга для работы и карьеры.</p><ul><li>4 модуля</li><li>Межмодульное сопровождение куратором</li><li>Методические материалы к каждому модулю </li><li>Список книг </li></ul>', '100 000')
            +event_price('Пакет VIP', '', '188 000')
            +event_price('Пакет Оптимум', '', '124 000')
        +e.sub-desc
            p Оплата только по безналичному расчету или наличными в #[br]офисе "ICC ISTOK", ул. Фрунзе, 22, офис 401