include ../../blocks/b-event-soon/index.pug
+b.c-event-soon--row
    +e.container.container.px0
        +e.title.block-title
            p 
                b Ближайшие мероприятия
        +e.desc
            p Программа "Профессиональный коучинг" — это международные стандарты качества и #[br]уникальные инновационные инструменты.
        
        +e.items
             +event-soon-card('17 августа', 'Профессиональный коучинг', 'Тренинг')
             +event-soon-card('17 августа', 'Коуч-поход в горы Сораксан, Корея', 'Мероприятие')
             +event-soon-card('17 августа', 'Публичные выступления. Технология подготовки', 'Мастер-класс')
             +event-soon-card-to-all