+b.c-single-event-top--row.row-flex
    +e.container.container  
        +e.title
            h1 ПРОФЕССИОНАЛЬНЫЙ КОУЧИНГ
        +e.desc
            p 4-модульная программа обучения коучингу 
        +e.btn-wrpr
            p 
                +e.A.btn.btn--orange.btn--color-white(href="#") Зарегистрироваться
