$b-selector: '.b-event-filters';
#{$b-selector}{
    &--row{}
    &__container{
        padding: 15px 0;
    }
    &__title{}
    &__drops{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 740px;
    }
    &__dropdown{
        margin-top: 10px;
    }
    &__checks{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 740px;
        margin-top: 25px;
    }
}


.ui-dropdown{
    &--city{
        min-width: 275px;
    }
    &--event_name{
        min-width: 435px;
    }
}
