.c-single-event-for{
    &--row{
        padding-top: 90px;
    }
    &__container{
        background-color: $color-grey-4;
        padding: 50px 0;
    }
    &__title{
        text-align: center;
    }
    &__checks{
        margin-top: 45px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        
    }
}

.single-event-for-check{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-basis: 33.33%;
    flex-direction: column;
    //align-items: stretch;
    justify-content: center;
    text-align: center;
    &__icon{
        
    }
    &__text{
        margin-top: 15px;
    }
}