.c-page-top{
    color: white;
    text-align: center;
    &__container{
        padding: 140px 15px;
    }
    &__title{
        font-size: 1.8em;
    }
    &__desc{
        margin-top: 15px;
    }
}