$c_selector: ".c-single-event-feedback";
#{$c_selector}{
    &--row{
        padding-top: 120px;
    }
    &__container{
        padding-left: 0;
        padding-right: 0;
    }
    &__title{
        text-align: center;
    }
    &__desc{
        text-align: center;
        margin-top: 25px;
    }
    &__items{
        margin-top: 70px;
        .feedback{
            margin-top: -1px;
        }
    }
    
}