+b.c-single-event-cert--row.row
    +e.container.container.container--970  
        +e.img-cnt
            img(src="/images/cert.jpg")
        +e.desc
            h2 Международный #[br] сертификат
            p Каждый участник программы, успешно прошедший финальные испытания, получает сертификат международного образца, признанный в 133 странах мира. 

