doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Contacts page
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
    body
        include parts/_mixins.pug
        include parts/_header.pug
        
        +b.MAIN.row.bg-grey
        
            +b.p-contacts
                +e.form-wrpr
                    +e.title
                        h3 Напишите нам
                    +e.desc
                        p Чтобы зарегистрироваться на это событие, заполните анкету. Информация о Вас будет доступна только организаторам. 
                    +b.FORM.p-contacts-form
                        +e.input-row
                            +e.LABEL.label Имя
                            +e.input-wrpr
                                +e.INPUT(type="text").input-text.ui-text--grey
                            
                        +e.input-row
                            +e.LABEL.label Телефон
                            +e.input-wrpr
                                +e.INPUT(type="text").input-text.ui-text--grey    
                            
                        +e.input-row
                            +e.LABEL.label E-mail
                            +e.input-wrpr
                                +e.INPUT(type="email").input-text.ui-text--grey    
                            
                        +e.input-row--type-textarea
                            +e.LABEL.label Текст
                            +e.input-wrpr
                                +e.TEXTAREA.input-textarea.ui-textarea--grey
                            
                        +e.input-row--type-submit
                            +e.input-wrpr
                                +e.INPUT(type="submit", value="Отправить").input-submit.btn--orange.--full-width
                    
                    
                +b.p-contacts-info
                    +e.row--city
                        +e.label
                            span Город
                        +e.data
                            span Хабаровск
                            
                    +e.row--address
                        +e.label
                            span Адрес 
                        +e.data
                            span ул. Фрунзе, 22,  офис 401
                            
                    +e.row--connect
                        +e.label
                            span Контакты
                        +e.data
                            a(href="#") 8 (4212) 24-31-13   
                            br
                            a(href="#") info@tc-i.ru
                            
                    +e.row--social
                        +b.A(href="#").ui-social-link--youtube #[span]
                        +b.A(href="#").ui-social-link--instagram #[span]
                        +b.A(href="#").ui-social-link--facebook #[span]
                        +b.A(href="#").ui-social-link--vk #[span]
                    
                    +e.row--download
                        +b.A(href="#").p-contacts__link--requisite.btn--white.--download.--full-width--large #[i] Скачать реквизиты
                        br
                        br
                        +b.A(href="#").p-contacts__link--logo.btn--white-trans.--download #[i] Скачать логотип
                    
                            
                    
                            
                    
                
            
            
            
            
            
            //+b.p- --row.row
                +e.container.container
                    +e.title.block-title
                    +e.desc
                
            //include components/c-subscribe/index.pug
                
                
                    
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});