doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Мероприятие
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
        script(src='assets/libs/jquery/jquery-3.3.1.min.js')
    body
        include parts/_mixins.pug
        include parts/_header.pug
        
        main.page-main.bg-grey
            .container.px0.bg-white
                include components/c-event-single-top/index.pug
                include components/c-event-single-contact/index.pug
                include components/c-event-single-text/index.pug
                include components/c-event-single-leading/index.pug
                include components/c-event-single-for/index.pug
                include components/c-event-single-result/index.pug
                include components/c-event-single-program/index.pug
                include components/c-event-single-cert/index.pug
                include components/c-event-single-prices/index.pug
                include components/c-event-single-feedbacks/index.pug
            
            include components/с-event-reg/index.pug
            include components/c-event-soon/index.pug
            
            
            
            
            
            
  
        include parts/_footer.pug
        
        script(src='assets/js/main.js')
        script(src='assets/js/blocks/b-ui-accordeon/b-ui-accordeon.js')
        
        script.
            jQuery(function($) {});