doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Мероприятие
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
    body
        include parts/_mixins.pug
        include parts/_header.pug
        
        main
            include components/c-event-single-top/index.pug
            include components/c-event-single-contact/index.pug
            include components/c-event-single-text/index.pug
            include components/c-event-single-leading/index.pug
            include components/c-event-single-for/index.pug
            include components/c-event-single-result/index.pug
            include components/c-event-single-program/index.pug
            include components/c-event-single-cert/index.pug
            include components/c-event-single-prices/index.pug
            include components/c-event-single-feedbacks/index.pug
  
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});