doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Index page
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
    body
        include parts/_mixins.pug
        include parts/_header.pug
        
        +b.MAIN.p-front.row
            
            include parts/_front_s1.pug
            include parts/_front_about.pug
            include parts/_front_posts.pug
            include parts/_front_services.pug
            include parts/_front_professional.pug
            include parts/_front_main_programs.pug
            include parts/_front_calendar.pug
            include parts/_front_blog.pug
            include components/c-our-clients/index.pug
            include parts/_front_feedbacks.pug
            
                                
                            
            
            
            //+b.p-
                +e.container.container
                
                
            include components/c-subscribe/index.pug
            
            
                
                
                    
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});