include ../../blocks/ui-accordeon/mixins.pug

div.ui-accordeon
    +accordeon_item('1 модуль. Основа профессионального коучинга', 
    '<p>Результаты участников</p><ul><li>знание основ командного коучинга</li><li>инструменты определения ценностей клиента</li><li>инструменты работы со страхами клиента</li><li>инструменты для осуществление выбора</li><ul><p>Вебинар  “Выбор специализации и продвижение”, Ольга Кошенкова</p><p>Индивидуальный менторинг, межмодульная практика и домашнее задание.</p>')
    +accordeon_item('2 модуль. Основа профессионального коучинга', 
    '<p>Результаты участников</p><ul><li>знание основ командного коучинга</li><li>инструменты определения ценностей клиента</li><li>инструменты работы со страхами клиента</li><li>инструменты для осуществление выбора</li><ul><p>Вебинар  “Выбор специализации и продвижение”, Ольга Кошенкова</p><p>Индивидуальный менторинг, межмодульная практика и домашнее задание.</p>')
    +accordeon_item('3 модуль. Основа профессионального коучинга', 
    '<p>Результаты участников</p><ul><li>знание основ командного коучинга</li><li>инструменты определения ценностей клиента</li><li>инструменты работы со страхами клиента</li><li>инструменты для осуществление выбора</li><ul><p>Вебинар  “Выбор специализации и продвижение”, Ольга Кошенкова</p><p>Индивидуальный менторинг, межмодульная практика и домашнее задание.</p>')
    +accordeon_item('4 модуль. Основа профессионального коучинга', 
    '<p>Результаты участников</p><ul><li>знание основ командного коучинга</li><li>инструменты определения ценностей клиента</li><li>инструменты работы со страхами клиента</li><li>инструменты для осуществление выбора</li><ul><p>Вебинар  “Выбор специализации и продвижение”, Ольга Кошенкова</p><p>Индивидуальный менторинг, межмодульная практика и домашнее задание.</p>')
