+b.c-our-clients--row.row
    +e.container.container
        +e.title.block-title
            p Наши клиенты

        +e.list-wrpr
            +e.UL.list
                +our-client-item('logo.png', 1)
                +our-client-item('logo (1).png', 2)
                +our-client-item('logo (2).png', 3)
                +our-client-item('logo (3).png', 4)
                +our-client-item('logo (4).png', 5)
                +our-client-item('logo (5).png', 6)
                +our-client-item('logo (6).png', 7)
                +our-client-item('logo (7).png', 8)
                +our-client-item('logo (8).png', 9)
