+b.c-single-event-text--row
    +e.container.container  
        +e.title
            h3 Какова цель программы?
        +e.cnt
            p
                b
                    | Международная программа «Профессиональный коучинг» позволит вам освоить #[br] профессию коуча или начать применять инновационные коучинговые инструменты в #[br] своей работе и бизнесе.
            p
                | Программа построена на 11 компетенциях коуча ICF и направлена на развитие всех компетенций. Каждый участник программы, успешно прошедший финальные испытания, получает сертификат международного образца, признанный в 133 странах мира. 
            p
                | Программа "
                a(href="#")
                    |Профессиональный коучинг
                |" — это международные стандарты качества и уникальные инновационные инструменты. Программа находится на аккредитации ICF.