include ../../blocks/event-feedback-block/mixins.pug
+b.c-single-event-feedback--row.row
    +e.container.container.container--970  
        +e.title.block-title--large
            p Отзывы
        +e.desc
            p Программа "Профессиональный коучинг" — это международные стандарты качества и #[br]уникальные инновационные инструменты.
        +e.items
            +se_feedback_item('/images/feedback-photo.png', 'Павел Щучинов', 'Предприниматель', 'Коучинг – универсальный инструмент, который позволяет руководителю и сотрудникам выходить на новые уровни мышления, видеть новые возможности. Ты задаешь вопрос, и сотрудник начинает мыслить гораздо шире, сам принимает решение, во многом благодаря этому за последние полгода моя компания серьезно выросла.')
            +se_feedback_item('/images/feedback-photo.png', 'Павел Щучинов', 'Предприниматель', 'Коучинг – универсальный инструмент, который позволяет руководителю и сотрудникам выходить на новые уровни мышления, видеть новые возможности. Ты задаешь вопрос, и сотрудник начинает мыслить гораздо шире, сам принимает решение, во многом благодаря этому за последние полгода моя компания серьезно выросла.')
            
