
+b.p-front-services
    +e.container.container  
        +e.list
            +front-service-item('1', 'Руководителям <br>организаций')
            +front-service-item('2', 'Профессиональным <br>коучам')
            +front-service-item('3', 'Тем, кто хочет овладеть <br>навыками коучинга')
            +front-service-item('4', 'Тем, кто хочет начать <br>независимую карьеру <br>коуча')
            
            