+b.p-front-s1.row
    +e.container.container(style="background-image: url(/images/front-main-s1.jpg)")
        +e.title
            h1  Международный #[br]центр коучинга#[br] ISTOK 
        +e.desc
            p ISTOK – это международные стандарты качества, #[br]полный спектр коучинговых услуг и возможности 
                | #[br]обучаться из любой точки мира.

        +e.search-bar
            include ../blocks/b-search-bar/index.pug