+b.p-front-blog
    +e.container.container.container--1000
        +e.title Наш блог
        +e.list
            +front-blog-item('Расписание на август-сентябрь', 'Если у вас есть задачи, связанные с обучением и развитием ваших сотрудников – мы готовы помочь вам в их решении')
            +front-blog-item('Катерина Костюкова в программе "Утро с Губернией"', '')
            +front-blog-item('Расписание на август-сентябрь', 'Если у вас есть задачи, связанные с обучением и развитием ваших сотрудников – мы готовы помочь вам в их решении')
            
            +front-blog-item('Катерина Костюкова в программе "Утро с Губернией"', '')
            +front-blog-item('Расписание на август-сентябрь', 'Если у вас есть задачи, связанные с обучением и развитием ваших сотрудников – мы готовы помочь вам в их решении')
            +front-blog-item('Расписание на август-сентябрь', 'Если у вас есть задачи, связанные с обучением и развитием ваших сотрудников – мы готовы помочь вам в их решении')