+b.p-front-professional
    +e.container.container
        +e.item
            +e.info
                +e.name ПРОФЕССИОНАЛЬНЫЙ КОУЧИНГ
                +e.excerpt
                    p Международная программа «Профессиональный коучинг» позволит вам освоить профессию коуча или начать применять инновационные коучинговые инструменты в своей работе и бизнесе.
                +e.date
                    span.label  Ближайший тренинг
                    span.value  16 сентября
            +e.thumb-wrpr
                +e.IMG(src="/images/p-front-professional-thumb.png").thumb
        
        +e.desc-items
            +e.desc-item--1
                +e.desc-item__title
                    span Чему вы научитесь?
                +e.UL.learn-list
                    li 
                        span Освоите основные навыки коучинга
                    li 
                        span Достигните полной ясности относительно своих жизненных, стратегических и карьерных целей
                    li 
                        span Управлять собственным личностным ростом
            +e.desc-item--2
                p Программа построена на 11 компетенциях коуча ICF и направлена на развитие всех компетенций. Каждый участник программы, успешно прошедший финальные испытания, получает сертификат международного образца, признанный в 133 странах мира. 

            +e.desc-item--3
                p Программа "Профессиональный коучинг" — это международные стандарты качества и уникальные инновационные инструменты. Программа находится на аккредитации ICF.
            
        
        
        