+b.p-front-calendar
    +e.container.container
        +b.p-front-calendar-big-item
            +e.thumb-wrpr
                +e.IMG.thumb(src="/images/p-front-calendar-big-item-thumb.png")
            +e.info-wrpr
                +e.date
                    span 17 августа
                +e.title
                    span Тренинг "Профессиональный коучинг"
                +e.excerpt
                    p Базовая программа обучения коучингу по международному стандарту ICF. #[br]4 модуля, всего 3 месяца и новая профессия ваша. #[br]Каждый выпускник, прошедший финальные испытания, получает сертификат международного образца.
    
                +e.more
                    +e.A(href="#").more-link.btn--green Подробнее
                    
        +b.p-front-calendar-small-items
            +event-soon-card('17 августа', 'Профессиональный коучинг. Публичные выступления.', 'Тренинг')
            +event-soon-card('17 августа', 'Коуч-поход в горы Сораксан, Корея', 'Мероприятие')
            +event-soon-card('17 августа', 'Публичные выступления. Технология подготовки', 'Мастер-класс')
            +event-soon-card-to-all
            

