+b.p-front-feedbacks
    +e.container.container
        +e.list
            +e.list-item
                +p-front-feedback('p-front-feedbacks-photo.png', 'Раиса Рычкова', 'Заведующая ВСП СБЕРБАНК, <br>Г. Благовещенск', 'После тренинга «Эффективный руководитель» появилось желание совершенствоваться в области управления персоналом. Спасибо за практичные инструменты!')
            +e.list-item
                +p-front-feedback('p-front-feedbacks-photo.png', 'Раиса Рычкова', 'Заведующая ВСП СБЕРБАНК, <br>Г. Благовещенск', 'После тренинга «Эффективный руководитель» появилось желание совершенствоваться в области управления персоналом. Спасибо за практичные инструменты!')
            +e.list-item
                +p-front-feedback('p-front-feedbacks-photo.png', 'Раиса Рычкова', 'Заведующая ВСП СБЕРБАНК, <br>Г. Благовещенск', 'После тренинга «Эффективный руководитель» появилось желание совершенствоваться в области управления персоналом. Спасибо за практичные инструменты!')
            +e.list-item
                +p-front-feedback('p-front-feedbacks-photo.png', 'Раиса Рычкова', 'Заведующая ВСП СБЕРБАНК, <br>Г. Благовещенск', 'После тренинга «Эффективный руководитель» появилось желание совершенствоваться в области управления персоналом. Спасибо за практичные инструменты!')
            