+b.p-front-about
    +e.container.container--flex
        +e.item-1.lg-4
            +e.inner
                img(src="/images/p-front-about-i1-photo.jpg")
        +e.item-2.lg-4
            +e.inner
                h2  О компании
                p   Мы – #[a(href="#") команда бизнес-тренеров] и коучей, помогаем малому и среднему бизнесу достигать больших бизнес-результатов, профессионально обучая и развивая сотрудников и руководителей. 
        +e.item-3.lg-4
            +e.inner
                p Если у вас есть задачи, связанные с обучением и развитием ваших сотрудников – мы готовы помочь вам в их решении. Более подробно о том, что мы делаем, можно узнать на страницах Тренинги и Коучинг.

                p Если вы хотите понять, как обучение ваших сотрудников будет способствовать решению ваших бизнес задач, позвоните нам по телефону 8 (4212) 24 31 13 и закажите бесплатную консультацию по системе обучения в вашей компании.
            