+b.p-front-main-programs
    +e.container.container
        +e.title
            p  Ключевые программы и тренинги
        +e.desc
            p Тренинг-центр "Исток" является официальным представителем #[br]Университета Global Coaching на Дальнем Востоке.
        +e.list
            +front-main-program('p-main-program-thumb-1.png', 'Коучинг Старт', 'Тренинг даст возможность не просто познакомиться с коучингом, но получить практический опыт в проведении коуч-сессий и использовании коучингового подхода с применением базовых коучинговых инструментов. ')
            +front-main-program('p-main-program-thumb-2.png', 'Коучинг в организации', 'Для тех, кто хочет начать практику коуча в организации. Курс прошел аккредитацию в Международной федереции коучинга ICF')
            +front-main-program('p-main-program-thumb-3.png', 'Коучинговый подход в работе руководителя', 'Тренинг для руководителей об инструментах коучинга, которые усилят функции управления.')