+b.p-front-posts
    +e.container.container
        +front_post_item('p-front-posts-item-bg-1.jpg', 'Помогаем в достижении больших бизнес-результатов', 'Корпоративный коучинг')
        +front_post_item('p-front-posts-item-bg-2.png', 'В плотном контакте с коучем клиент решает свои задачи', 'Индивидуальный коучинг')
        +front_post_item('p-front-posts-item-bg-3.png', 'Передаем базовые навыки коучингового подхода', 'Обучение коучингу')
        +front_post_item('p-front-posts-item-bg-4.png', 'Профессиональный рост и сертификат международного образца', 'Коучам')
        