$p-selector: '.p-front';

#{$p-selector}-s1{
    
    &__container{
        padding: 75px 0;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 1.75em;
        text-transform: uppercase;
        line-height: 2.5em;
    }
    &__desc{
        margin-top: 35px;
        line-height: 1.45em;
    }
    &__search-bar{
        margin-top: 55px;
    }
}

#{$p-selector}-about{
    margin-top: 125px;
    &__container{}
    &__item{
        p{
            margin-top: 30px;
            line-height: 1.45em;
        }
        &--1{}
        &--2{
            padding: 75px 15px 15px 65px;
            h2{
                font-size: 2em;
            }
            
        }
        &--3{
            padding: 20px 10px 10px 20px;
        }
    }
}

#{$p-selector}-posts{
    margin-top: 120px;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}
#{$p-selector}-post{
    position: relative;
    width: 270px;
    margin-bottom: 20px;
    height: auto;
    &__thumb-wrpr{}
    &__info-wrpr{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 270px;
            left: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(4, 192, 192, 0.9) 41.81%, rgba(4, 192, 192, 0) 100%);
            z-index: 1;
        }
    }
    &__title{
        position: relative;
        z-index: 2;
        margin-bottom: 25px;
        font-size: 1.3em;
        color: $color-white;
    }
    &__link{
        color: inherit;
        text-decoration: none;
    }
    &__part{
        position: relative;
        z-index: 2;
        color: $color-white;
    }
    &__link-part{
        color: inherit;
        border: solid 2px currentColor;
        display: inline-block;
        text-decoration: none;
        padding: 0.4em 1em;
    }
}

#{$p-selector}-services{
    margin-top: 50px;
    &__container{
        border: solid 5px $color-green;
        padding: 65px 75px;
        max-width: 1170px;
    }
    &__title{
        text-align: center;
        font-size: 1.25em;
    }
    &__list{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}
#{$p-selector}-service-item{
    width: 200px;
    &__icon{
        display: block;
        width: 100%;
        height: 175px;
        background-size: contain;
        background-position: center;
    }
    &__text{
        text-align: center;
    }
    &--1{
        i{ background-image: url("#{$assets-path}/p-front-service-icon-1.svg" )};
    }
    &--2{
        i{ background-image: url("#{$assets-path}/p-front-service-icon-2.svg" )};
    }
    &--3{
        i{ background-image: url("#{$assets-path}/p-front-service-icon-3.svg" )};
    }
    &--4{
        i{ background-image: url("#{$assets-path}/p-front-service-icon-4.svg" )};
    }
    
/*
    
    p-front-service-icon-2.svg
    p-front-service-icon-3.svg
    p-front-service-icon-4.svg
*/
}

#{$p-selector}-main-programs{
    margin-top: 100px;
    &__container{}
    &__title{
        text-align: center;
        font-size: 2em;
        font-weight: 700;
    }
    &__desc{
        text-align: center;
        margin-top: 15px;
        color: $color-grey-6;
    }
    &__list{
        margin-top: 55px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}
#{$p-selector}-main-program{
    width: 370px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &__thumb-wrpr{
        width: 100%;
        height: 300px;
    }
    &__thumb{
        width: 100%;
        height: 300px;
        object-position: center;
        object-fit: cover;
    }
    &__name{
        margin-top: 45px;
        font-size: 1.3em;
        font-weight: 600;
    }
    &__name-link{
        color: inherit;
        text-decoration: none;
    }
    &__desc{
        margin-top: 15px;
        line-height: 1.45em;
    }
    &__desc-link{
        color: inherit;
        text-decoration: none;
    }
    &__date{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .label{}
        .value{
            color: $color-orange;
            font-size: 1.3em;
            margin-top: 5px;
            font-weight: 600;
        }
    }
}

#{$p-selector}-blog{
    padding: 100px 0;
    &__container{}
    &__title{
        text-align: center;
        font-size: 1.5em;
        font-size: 2em;
    font-weight: 800;
    }
    &__list{
        margin-top: 55px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        //max-width: 950px;
    }
    &-post{
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin: 25px 25px 35px 25px;
        
        &__date{
            color: $color-grey-6;
        }
        &__title{
            margin-top: 10px;
            font-size: 1.3em;
        }
        &__excerpt{
            margin-top: 20px;
        }
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}

#{$p-selector}-feedbacks{
    background-color: $color-grey-4;
    padding-bottom: 100px;
    &__container{
        display: flex;
        justify-content: center;
    }
    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__list-item{
        border: solid 1px $color-grey-6;
        margin-top: -1px;
        margin-left: -1px;
        padding: 45px 60px 45px 75px;
    }
}
#{$p-selector}-feedback{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding: 15px;
    &__img-name-job{
        display: flex;
        flex-shrink: 0;
    }
    &__img-wrpr{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__name-job{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    &__name{
        margin-top: 5px;
        font-weight: 600;
        font-size: 1.3em;
    }
    &__job{
        margin-top: 10px;
        color: $color-grey-6;
    }
    &__text{
        margin-top: 25px;
    }
}

#{$p-selector}-calendar{
    margin-top: 100px;
    background-color: $color-grey-4;
    &__container{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    &-big-item{
        display: flex;
        
        &__thumb-wrpr{
            max-width: 580px;
        }
        &__thumb{
            width: 100%;
        }
        &__info-wrpr{
            padding-left: 65px;
            padding-top: 15px;
        }
        &__date{
            color: $color-grey-6;
            font-size: 1.3em;
        }
        &__title{
            margin-top: 20px;
            font-weight: 600;
            font-size: 1.5em;
        }
        &__excerpt{
            margin-top: 25px;
            max-width: 360px;
            line-height: 1.45em;
        }
        &__more{
            margin-top: 40px;
        }
        &__more-link{
            font-size: 1.4em;
            padding-left: 4em;
            padding-right: 4em;
            font-weight: 500;
        }
    }
    
    &-small-items{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
}

#{$p-selector}-professional{
    margin-top: 110px;
    &__container{}
    &__item{
        display: flex;
        justify-content: space-between;
    }
    &__thumb-wrpr{
        width: 100%;
        max-width: 770px;
        flex-shrink: 0;
    }
    &__thumb{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 3;
    }
    &__info{
        padding: 35px 10px;
    }
    &__name{
        font-size: 2em;
        font-weight: 700;
        line-height: 1.45em;
    }
    &__excerpt{
        margin-top: 20px;
        line-height: 1.4em;
    }
    &__date{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .label{}
        .value{
            margin-top: 5px;
            font-size: 1.2em;
            font-weight: 500;
            color: $color-orange;
        }
    }
    
    &__desc-items{
        display: flex;
        flex-wrap: wrap;
        margin-top: -60px;
        position: relative;
        z-index: 1;
    }
    &__desc-item{
        width: 100%;
        padding-top: 55px;
        padding-left: 60px;
        padding-top: 100px;
        &--1{
            width: 455px;
            background-color: $color-grey-4;
            padding: 55px 60px 35px;
        }
        &--2{
            width: 355px;
        }
        &--3{
            width: 355px;
        }
        &__title{
            font-size: 1.3em;
            font-weight: 600;
        }
            
    }
    
    &__learn-list{
        list-style: none;
        margin-top: 25px;
        li{
            position: relative;
            padding-left: 30px;
            margin-bottom: 20px;
            &:before{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: -3px;
                background-color: $color-orange;
                mask-image: url('#{$assets-path}/result-check.svg');
                mask-repeat: no-repeat;
                mask-size: cover;
            }
        }
    }
}

//#{$p-selector}{}