mixin se_feedback_item(photo, name, job, text)
    +b.feedback
        +e.photo
            img(src=""+ photo)
        +e.info
            +e.name
                p= name
            +e.job
                p= job
            +e.text
                p= text
            