+b.event-item
    +e.dates
        +e.date-1
            span 6 октября
        +e.date-2
            span 27 января
    
    +e.name-type
        +e.name
            +e.A(href="#").link Осознанное бизнес-обучение
        +e.type
            span Мастер-класс
    
    +e.for-location
        +e.for
            span Для HR и бизнес-тренеров
        +e.location
            span Хабаровск