@mixin grid_col(){
    flex-shrink: 0;
    flex-grow: 0;
}
@mixin grids($prefix){
    #{$prefix}{
        &-1 {
            @include grid_col();
          flex-basis: 8.3333%;
        }

        &-2 {
            @include grid_col();
          flex-basis: 16.6666%;
        }

        &-3 {
            @include grid_col();
          flex-basis: 25%;
        }

        &-4 {
            @include grid_col();
          flex-basis: 33.3333%;
        }

        &-5 {
            @include grid_col();
          flex-basis: 41.6666%;
        }

        &-6 {
            @include grid_col();
          flex-basis: 50%;
        }

        &-7 {
            @include grid_col();
          flex-basis: 58.3333%;
        }

        &-8 {
            @include grid_col();
          flex-basis: 66.6666%;
        }

        &-9 {
            @include grid_col();
          flex-basis: 75%;
        }

        &-10 {
            @include grid_col();
          flex-basis: 83.3333%;
        }

        &-11 {
            @include grid_col();
          flex-basis: 91.6666%;
        }

        &-12 {
            @include grid_col();
          flex-basis: 100%;
        }
    }
    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  width: 100vw;

  > .row {
    width: 100vw;
  }
}

.row {
  width: 100%;
}

.row-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.j-left {
  justify-content: flex-start;
}

.j-right {
  justify-content: flex-end;
}

body > .row,
body > .row-flex {
  padding-left: 0;
  padding-right: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  &--1000 {
    max-width: 1000px;
  }

    &--flex{
        display: flex;
        flex-wrap: wrap;
    }
    &.f-start{
        justify-content: flex-start;
    }
    &.f-end{
        justify-content: flex-end;
    }
    &.f-space-around{
        justify-content: space-around;
    }
    &.f-space-between{
        justify-content: space-between;
    }
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

@media (min-width: 1170px) {
  @include grids('.lg');
}
@media (min-width: 960px) and (max-width: 1169px) {
  @include grids('.md');
}
@media (min-width: 600px) and (max-width: 959px) {
  @include grids('.sm');
}
@media (max-width: 599px) {
  @include grids('.xs');
}



//.desk {}
//.mob {}
//.tab {}