.page-main{
    &--bg_grey{
        background-color: #E2E2E2;
    }
    &--bg_white{
        background-color: #fff;
    }
}

.bg-grey{
    background-color: #E2E2E2;
}
.bg-white{
    background-color: #fff;
}
.bg-green{
    background-color: $color-green;
}
.bg-orange{
    background-color: $color-orange;
}

.p-page {
  &-header {
      
    &__container {
      padding-bottom: 50px;
      padding-top: 100px;
    }

    &__title {
      font-size: 2em;
      font-weight: 800;

      &--center {
        text-align: center;
      }
    }

    &__description {
      margin-top: 25px;
    }
  }
}