//Основные цвета

$color-white: #fff;
$color-black: #333;
$color-cyan: #04c0c0;
$color-orange: #fa994a;
$color-purple: #9b51e0;
$color-red: #eb5757;
$color-blue: #2d9cdb;
$color-gray-1: #a0a0a0;
$color-gray-2: #bdbdbd;
$color-gray-3: #e0e0e0;
$color-gray-4: #f2f2f2;

//Дополнительные цвета

$color-dark-gray: #3a3a3a;
$color-medium-gray: #7f7f7f;
$color-light-gray: #aaa;
$color-background-default: #fff;

//Шрифты

$font-raleway: 'Raleway', sans-serif;

//Стандартные величины

$width-standart: 1170px;

$color-orange: #ffa24f;
$color-green: #04c0c0;
$color-violet: #9b51e0;
$color-red: #eb5757;
$color-grey: #bdbdbd;
$color-grey-dark: #333;
$color-grey-3: #a0a0a0;
$color-grey-4: #f2f2f2;
$color-grey-5: #e0e0e0;
$color-grey-6: #bdbdbd;
$assets-path: '../img';
//$assets-path: '../img';
