+b.b-event-filters--row
    +e.container.container--970.p-x0
        +e.drops
            +b.input-item--city-filter
                +e.label.label
                    p Город
                +e.data.b-event-filters__dropdown
                    +b.ui-dropdown--city.--white-bg
                        +e({tag:'SELECT'}).select.b-event-filters--city-select
                            option Город
                            option Хабаровск
                            option Владивосток
                            option Благовещенск
                            option Урюпинск
                            option Бобруйск
            +b.input-item--title-filter
                +e.label.label
                    p Название тренинга
                +e.data.b-event-filters__dropdown
                    +b.ui-dropdown--event_name.--white-bg
                        +e({tag:'SELECT'}).select.b-event-filters--event_name-select
                            option Инструменты фасилитации для руководителей
                            option Какой-то тренинг 1
                            option Какой-то тренинг 2
                            option Какой-то тренинг 3
                            option Какой-то тренинг 4
                        
        +e.checks
            +b.LABEL.ui-checkbox
                +e(type="checkbox").INPUT.input--blue
                +e.SPAN.input-span--blue
                +e.SPAN.label--blue Для руководителей
            +b.LABEL.ui-checkbox
                +e(type="checkbox").INPUT.input--orange
                +e.SPAN.input-span--orange
                +e.SPAN.label--orange Для HR и бизнес-тренеров
            +b.LABEL.ui-checkbox
                +e(type="checkbox").INPUT.input--green
                +e.SPAN.input-span--green
                +e.SPAN.label--green Для коучей 
            +b.LABEL.ui-checkbox
                +e(type="checkbox").INPUT.input--purple
                +e.SPAN.input-span--purple
                +e.SPAN.label--purple Для всех
            