+b.c-single-event-for--row.row
    +e.container.container.container--970  
        +e.title.block-title
            p 
                b Для кого эта программа?
        +e.checks
            +single_event_for_check("Владельцы и директора <br>компаний")
            +single_event_for_check('Люди, ищущие <br>профессию')
            +single_event_for_check('HR-директора, <br>бизнес-тренеры')
            
