mixin leader()
    +b.event-leader
        +e.photo
            img(src="/images/leader-photo.png")
        +e.info
            +e.name
                p Катерина Костюкова
            +e.desc
                ul
                    li Коуч продвинутого уровня PCC ICF 
                    li Ментор коучей 
                    li Специализация – бизнес-коучинг, коучинг     первых лиц 
                    li Более 1500 часов сессий