include ../../blocks/event-leader/mixins.pug
+b.c-single-event-leading--row
    +e.container.container  
        +e.title.block-title
            p #[b Ведущие программы]
        +e.leaders
            +leader
            +leader
