+b.c-single-event-program--row
    +e.container.container  
        +e.title.block-title
            h3 Программа
        +e.desc
            p Программа "Профессиональный коучинг" — это международные стандарты качества и #[br] уникальные инновационные инструменты.
        +e.btn-wrpr
            p 
                +e.A.btn.btn--green.btn--download.btn--large(href="#") 
                    i 
                        //img(src="/images/donwload-icon.svg")
                    span Скачать программу
        +e.items
            include ../../components/c-program-accordeon/index.pug
            
