+b.c-our-team--row.row
    +e.container.container
        +e.title.block-title
            p Команда центра
        +e.list-wrpr
            +e.list
                +team-leader()
                +team-leader()
                +team-leader()
                +team-leader()
                +team-leader()
                +team-leader()
                +team-leader()
            